body {
    background-color: black;
    font-family: 'IBM Plex Sans', sans-serif;
}

.container {
    display: flexbox;
    justify-content: center;
    width: auto;
    height: auto;
    flex-wrap: wrap;

}

.box01 {
    width: auto;
    height: auto;
    text-align: center;
}

.box01 img {
    width: 229px;
    padding: 15px;
}

.box01 p {
    color: white;
    font-size: 32px;
    margin-top: 50px;
}

.box02 {
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 40px;

}

.box {
    width: 160px;
    height: 180px;
    text-align: center;
    color: #9C9C9C;
    border-radius: 20px;
}

.box:hover {
    zoom: 100%;
    width: 160px;
    color: white;
}

.imgbox img:hover {
    transform: scale(1.5);
    border-radius: 10px;
}

.box p {
    margin-top: 15px;
    font-size: 14px;
}

.box02{
    width: 75%;
    margin: 0 auto;
}


.box img {
    width: 160px;
    height: 160px;
    max-width: 160px;
    transition: all 0.5s;
    border-radius: 5px;
}

.addbox{
    width: 160px;
    height: 160px;
    max-width: 160px;
    border-radius: 10px;
    opacity: 0,5;
    
}


.addbox img{
    width: 53px;
    height: 53px;
    margin: 30% auto; 
    opacity: 0.5;  
}

.addbox img:hover{
    opacity: 1;
}


.addbox:hover,
.imgbox:hover {
    border: 2px solid white;
    border-radius: 10px;
    transition: all 0.5s;
}


.imgbox,
.addbox {
    overflow: hidden;
}

.box03 {
    height: auto;
    display: flex;
    justify-content: space-around;
}

.botao {
    cursor: pointer;
    text-align: center;
    width: 150px;
    padding: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.botao:hover {
    color: black;
    background-color: white;

}