body {
    display: flex;
    background-color: black;
    flex-flow: row wrap;
    flex-direction: column;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}


/* ---------- Header ---------- */


.logo {
    width: 100%;
    height: 20vh;
    margin: 0 auto;
    align-items: flex-end;
}

.logo img {
    width: 229px;
    height: 68px;
}

/* ---------- Fim do Header ---------- */

/* ---------- Main ---------- */
main {
    width: 100%;
    height: 75vh;
    margin: 0 auto;
    font-family: 'IBM Plex Sans', sans-serif;
}

main h2 {
    color: white;
    font-size: 32px;
    margin: 20px;
}

.users-box {
    margin: auto;
    display: flex;
    width: auto;
    justify-content: center;
}

.box {
    width: 160px;
    height: 190px;
    color: #9C9C9C;
    padding: 13px;
}

.box img {
    width: 160px;
    height: 160px;
    border-radius: 10px;
}

.img,
.add {
    border-radius: 10px;
    overflow: hidden;
    background-color: #1E1E20;
}

.img:hover,
.add:hover {
    box-shadow: 0.2px 0.2px 0px 1px white;
}

.img:hover img {
    transform: scale(1.5);
    transition: all 0.5s;
}

.box p {
    margin-top: 10px;
}

.box-button {
    margin: 60px;
    color: white;
}

.add {
    width: 160px;
    height: 160px;
}

.add img {
    width: 53px;
    height: 53px;
    margin: 34% auto;
    opacity: 0.5;
}

.box:hover {
    opacity: 1;
    color: white;
}

.box:hover img {
    opacity: 1;
}


/* Botão */

.button {
    margin: 0 auto;
    width: 206px;
    height: 40px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 8px;
}

.button:hover {
    color: black;
    background-color: white;
}

.button p {
    padding: 6%;
}

/* ---------- Fim do main ---------- */