body {
    background-color: black;
}

.container {
    display: flexbox;
    justify-content: center;
    width: auto;
    height: auto;
    flex-wrap: wrap;

}

.box01 {
    width: auto;
    height: auto;
    text-align: center;
}

.box01 img {
    width: 229px;
    padding: 10px;
}

.box01 p {
    color: white;
    font-size: 32px;
    margin-top: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}

.box02 {
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 100px;

}

.box {
    width: 160px;
    height: 180px;
    text-align: center;
    color: rgb(156, 144, 144);    
}

.box:hover {
    zoom: 100%;
    width: 160px;
    color: white;
}

.box img:hover {
    transform: scale(1.5);
    border-radius: 10px;
}

.box p{
    margin-top: 20px;
}


.box img {
    width: 160px;
    height: 160px;
    max-width: 160px;
    transition: all 0.5s;
    border-radius: 5px;
}


.imgbox {
    overflow: hidden;
}

.box03 {
    height: auto;
    display: flex;
    justify-content: space-around;
}

.botao {
    cursor: pointer;
    text-align: center;
    width: 150px;
    padding: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.botao:hover {
    color: black;
    background-color: white;

}